@import url("../../Props/Fonts/fonts.css");

:root {
  --bg-color: rgb(224, 224, 224);
  --primary-color: rgb(224, 224, 224);
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(82, 82, 82);
  --fourth-color: rgb(120, 120, 120);
  --fifth-color: rgb(10, 10, 10);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  scrollbar-color: #b5cff2 var(--primary-color);
  scrollbar-width: thin;
  font-family: "Poppins";
  font-weight: 300;
}

a {
  color: #0a0a0a;
}

body {
  background: #e1e1e1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100dvh;
  width: 100dvw;
  padding: 10px;
  overflow: auto;
  place-items: center;
  place-content: center;
}

#ContainerAll {
  width: 100%;
}

#BookCase {
  display: flex;
  flex-direction: row;
  place-content: center;
}

.overlay {
  width: 225px;
  position: absolute;
  inset: 0;
  cursor: pointer;
  transform: translateZ(200px);
  left: -52px;
  pointer-events: auto;
}

.ContBookEXT {
  display: flex;
  position: relative;
  place-items: center;
  place-content: center;
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 0, 45deg);
  transition: all .5s;
}

.ContBook {
  display: flex;
  position: relative;
  place-items: center;
  place-content: center;
  transform-style: preserve-3d;
  transition: all .5s;
}

.active {
  display: none !important;
  transition: all .5s;
}

.front {
  width: 121px;
  height: 300px;
  position: relative;
  transform: translateZ(100px);
  background: #050505;
  background: linear-gradient(90deg, rgba(5, 5, 5, 1) 0%, rgba(25, 25, 25, 1) 15%, rgba(50, 50, 50, 1) 40%, rgba(50, 50, 50, 1) 50%, rgba(50, 50, 50, 1) 60%, rgba(25, 25, 25, 1) 85%, rgba(5, 5, 5, 1) 100%);
}

.left {
  width: 200px;
  height: 300px;
  position: absolute;
  transform: rotateY(-90deg) translateZ(60px);
  background: #050505;
  background: linear-gradient(90deg, rgba(5, 5, 5, 1) 0%, rgba(25, 25, 25, 1) 15%, rgba(50, 50, 50, 1) 40%, rgba(50, 50, 50, 1) 50%, rgba(50, 50, 50, 1) 60%, rgba(25, 25, 25, 1) 85%, rgba(5, 5, 5, 1) 100%);
}

.fn {
  filter: grayscale();
}

.ContBook:hover {
  margin: 10px;
}

#BookName {
  width: 300px;
  color: var(--primary-color);
  text-align: center;
  font-size: 15px;
  transform: rotate(90deg) translateX(130px) translateY(85px);
}

.OpCont {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: var(--secondary-color);
  position: relative;
  left: 60px;
  margin: 0 15px;
  padding: 20px;
  border-radius: 20px;
  animation: intro 1.5s forwards;
}

.OpCont h2 {
  font-size: 30px;
  border-radius: 20px;
  padding: 0 20px;
  width: 100%;
  background: #cecece;
}

.OpCont p {
  position: relative;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  padding: 5px 20px;
  border-radius: 20px;
  max-width: 500px;
  background: #cecece;
}

.OpCont p::before {
  content: "- ";
}

.activeOp {
  display: flex !important;
}

@media (max-width: 600px) {
  #BookCase {
    flex-direction: column;
  }

  .ContBook {
    flex-direction: column;
    margin: 10px 0;
  }

  .overlay {
    left: 80px;
    height: 300px;
  }

  .OpCont {
    left: auto;
    animation: introR 1.5s forwards;
  }
}

@keyframes floating {
  0% {
    top: -5px;
  }

  50% {
    top: 10px;
  }

  100% {
    top: -5px;
  }
}

@keyframes intro {
  0% {
    left: -100px;
    opacity: 0;
  }

  50% {
    left: 80px;
  }

  100% {
    opacity: 1;
  }
}

@keyframes introR {
  0% {
    top: -100px;
    opacity: 0;
  }

  50% {
    top: 10px;
  }

  90% {
    top: 0;
    opacity: 1;
  }

  100% {
    top: auto;
  }
}
