@font-face {
  font-family: "Win95";
  src: url(/src/Props/Fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf) format('truetype');
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  justify-content: flex-end;
  font-family: "Win95";
  image-rendering: pixelated;
}

#Background-1 {
  background-image: url("./src/Props/images/Background-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100dvh;
  z-index: -2;
}

#Container-Interface{
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 1;
}

#container-Objects {
  width: 100%;
  height: 100dvh;
}

#taskbar {
  width: 100%;
  display: flex;
}

#Bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #c8c8c8;
  place-content: center;
  place-items: center;
  outline: 2px solid #fbffff;
  z-index: 16;
}

#objectsTb {
  display: flex;
  flex-direction: row;
  place-items: center;
  height: 100%;
  width: 100vw;
}

#buttonsTB {
  display: flex;
  flex-direction: row;
  place-items: center;
  height: 100%;
  width: 100%;
}

#EndButtonsTB {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: flex-end;
  height: 100%;
  width: 220px;
}

#HomeB {
  outline: none;
  border: none;
  background-color: #c8c8c8;
  border-left: 3px solid #fbffff;
  border-top: 3px solid #fbffff;
  border-bottom: 3px solid #0f0f0f;
  border-right: 3px solid #0f0f0f;
  width: 100px;
  height: 80%;
  margin: 0 8px 0 0;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  width: 300px;
}

#HomeB:active {
  background-color: #8b8b8b;
  border-left: 4px solid #1a1a1a;
  border-top: 4px solid #1a1a1a;
  border-bottom: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
}

#WinBIcon {
  width: 30px;
  margin: 0 2px 0 0;
}

#startL {
  font-family: "Win95";
  font-size: 20px;
  filter: drop-shadow(1px 1px 2px #000000);
}

#CalT {
  font-family: "Win95";
  font-size: 18px;
}

#CalD {
  font-family: "Win95";
  font-size: 18px;
}

#CalB {
  outline: none;
  border: none;
  background-color: #c8c8c8;
  border-left: 3px solid #a0a0a0;
  border-top: 3px solid #a0a0a0;
  border-bottom: 3px solid #fbffff;
  border-right: 3px solid #fbffff;
  width: 120px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

#CalB:active {
  background-color: #808080;
  border-left: 4px solid #8f8f8f;
  border-top: 4px solid #8f8f8f;
  border-bottom: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
}

#LineSp {
  width: 2px;
  height: 80%;
  background-color: #a0a0a0;
  border: none;
  box-shadow: 3px 0 .8px 0 #fbffff;
  margin: 0 5px;
}

#LineWei {
  width: 6px;
  height: 70%;
  background-color: #a0a0a0;
  border: none;
  border-left: 2px solid #fbffff;
  border-top: 2px solid #fbffff;
  border-bottom: 2px solid #8b8b8b;
  border-right: 2px solid #8b8b8b;
  margin: 0 5px;
}

#IconAb {
  width: 30px;
  margin: 5px;
  background-color: none;
  padding: 2px;
  flex-shrink: 0;
}

#IconAb:active {
  background-color: #808080;
  border-left: 2px solid #fbffff;
  border-top: 2px solid #fbffff;
  border-bottom: 2px solid #0a0a0a;
  border-right: 2px solid #0a0a0a;
}

.TbWin {
  height: 80%;
  margin: 0 2px;
  padding: 0 5px;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: #c8c8c8;
  border: none;
  background-color: #c8c8c8;
  border-left: 3px solid #fbffff;
  border-top: 3px solid #fbffff;
  border-bottom: 3px solid #1a1a1a;
  border-right: 3px solid #1a1a1a;
}

.TbWin:active {
  background-color: #8b8b8b;
  border-left: 4px solid #1a1a1a;
  border-top: 4px solid #1a1a1a;
  border-bottom: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
}

.TbAppI {
  width: 25px;
  margin: 0 5px;
}

.InTbWin {
  margin: 0 5px;
  color: #fbffff;
}

.InTbNTb {
  margin: 0 5px;
}

/* Menu Home */

#PanelTBM {
  position: absolute;
  margin: 0 5px;
  width: 280px;
  margin-top: -400px;
  height: 400px;
  background-color: #c8c8c8;
  border-left: 3px solid #fbffff;
  border-top: 3px solid #fbffff;
  border-right: 3px solid #0f0f0f;
  z-index: 15;
}

.MenuOp {
  display: flex;
}

.MenuCl {
  display: none;
}

#ButtonPTBM {
  margin-top: 3px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  place-items: center;
  z-index: 2;
}

#ButtonPTBM:hover {
  background-color: #dcdcdc;
}

#ButtonPTBM img {
  width: 40px;
  margin: 0 10px;
}

#ButtonPTBM p {
  font-family: "Win95";
}

#LineSep {
  width: 210px;
  height: 3px;
  background-color: #a0a0a0;
  box-shadow: 0px 2px .8px 0 #fbffff;
  place-self: center;
  margin: 5px 0;
}

#MarcWind {
  width: 40px;
  height: 98%;
  background: #000080;
  background: linear-gradient(180deg, hwb(240 0% 50%) 0%, #0000ff 100%);
  place-self: center;
  margin: 0 6px;
  place-content: center;
  place-items: center;
}

#MarcWind h1 {
  width: 220px;
  color: #fbffff;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 55px;
  filter: drop-shadow(0px 2px 0px black);
}

/* Desktop */

#Container-Icons-Background {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 94%;
  place-self: center;
}

#IconBack {
  width: 80px;
  filter: drop-shadow(3px 3px 1px #0000008a);
  position: absolute;
  touch-action: none;
}

#IconBackXp {
  width: 80px;
  filter: drop-shadow(3px 3px 1px #0000008a);
  position: absolute;
  top: 100px;
  touch-action: none;
}

#IconBackXp:hover {
  background-color: #abc7e29f;
  outline: 1px solid #b6d7f59f;
}

#IconBack:hover {
  background-color: #abc7e29f;
  outline: 1px solid #b6d7f59f;
}

/* windows */

#Windows {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  place-self: center;
  z-index: 1;
  pointer-events: none;
}

.NWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 500px;
  background-color: #c0c0c0;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  pointer-events: initial;
  padding: 3px;
}

.NWindowOff {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 900px;
  height: 500px;
  background-color: #c0c0c0;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  pointer-events: initial;
  padding: 3px;
}

.NWindowMAX {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  background-color: #c0c0c0;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  pointer-events: initial;
  padding: 3px;
  top: 0 !important;
  left: 0 !important;
}

.NWindowMAXOff {
  display: none;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  background-color: #c0c0c0;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  pointer-events: initial;
  padding: 3px;
}

.NXPWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 500px;
  place-content: center;
  place-items: center;
  background-color: #1d5bcc;
  border: 2.5px solid #1d5bcc;
  border-radius: 5px 5px 0 0;
  pointer-events: initial;
}

.NXPWindowOff {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 900px;
  height: 500px;
  pointer-events: initial;
}

.NXPWindowMAX {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  place-content: center;
  place-items: center;
  background-color: #1d5bcc;
  border: 2.5px solid #1d5bcc;
  border-radius: 5px 5px 0 0;
  pointer-events: initial;
  top: 0px !important;
  left: 0px !important;
}

.NXPWindowINC {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 500px;
  background-color: #7680dd;
  border: 2.5px solid #7680dd;
  border-radius: 5px 5px 0 0;
  pointer-events: initial;
}

.NaWindowOn {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 26px;
  place-self: center;
  background: #808080;
  background: linear-gradient(90deg, #000181 0%, #1084d0 100%);
  padding: 3px;
  z-index: 0;
  margin: 0 0 5px 0;
  touch-action: none;
}

.NaWindowOff {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 26px;
  place-self: center;
  background: #808080;
  background: linear-gradient(90deg, #808080 0%, #b5b5b5 100%);
  padding: 3px;
  z-index: 0;
  margin: 0 0 5px 0;
}

.NXPBarOn {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 26px;
  place-self: center;
  background: #2D8EFF;
  background: linear-gradient(0deg, #2d8eff 0%, #0054e8 48%, #2d8eff 100%);
  z-index: 1;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 0 5px 0;
  touch-action: none;
}

.NXPBarOff {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 26px;
  place-self: center;
  background: #85A8EB;
  background: linear-gradient(0deg, #85a8eb 0%, #7e97e3 48%, #9ab6f4 100%);
  z-index: 0;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 0 5px 0;
}

.IcNav {
  width: 20px;
  height: 90%;
  background-color: #c0c0c0;
  border: none;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  margin: 0 2px;
  display: flex;
  place-content: center;
  place-items: center;
  grid-column: 3;
  margin-left: auto;
}

.IcNav:active {
  background-color: #8b8b8b;
  border-left: 2px solid #1a1a1a;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
}

.IcInt {
  width: 12px;
  pointer-events: none;
}

.ContNavig {
  display: flex;
  margin-left: auto;
  place-content: center;
  place-items: center;
}

/* WEB'S */

.abtWeb {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fbffff;
  border-left: 3px solid #a0a0a0;
  border-top: 3px solid #a0a0a0;
  border-bottom: 3px solid #fbffff;
  border-right: 3px solid #fbffff;
  outline: none;
  overflow: scroll;
}

.TbAppITb {
  width: 22px;
}

.webXPOs {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  overflow: hidden;
}

/* windows xp style */

.ButtonX {
  background: linear-gradient(339deg, #a5340a 2%, #d52e00 45%, #eba795 100%);
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
  padding: 4px;
  transition: all 0.5s;
  margin: 0 2px;
  display: flex;
  place-content: center;
  place-items: center;
  grid-column: 3;
  margin-left: auto;
  place-self: center;
  cursor: pointer;
}

.ButtonC {
  background: linear-gradient(339deg, #2a56db 2%, #3a73f4 45%, #91b8fd 100%);
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
  padding: 4px;
  transition: all 0.5s;
  margin: 0 2px;
  display: flex;
  place-content: center;
  place-items: center;
  grid-column: 3;
  margin-left: auto;
  place-self: center;
  cursor: pointer;
}

.IconXP {
  width: 12px;
  filter: brightness(0) invert(1);
  z-index: 10;
}

.IconMP {
  width: 12px;
  filter: brightness(0) invert(1);
  z-index: 10;
  pointer-events: none;
}

#XpBar {
  display: flex;
  width: 100%;
  height:40px;
  background: #2156CD;
  background: linear-gradient(0deg, #2156cd 1%, #245cda 7%, #245cda 79%, #2d8eff 100%);
  place-content: center;
  place-items: center;
  outline: none;
  z-index: 16;
}

#SpanNone {
  display: none;
}

#HomeBXp {
  outline: none;
  border: none;
  background: #106C19;
  background: linear-gradient(90deg, #106c19 1%, #199619 10%, #199619 90%, #106c19 100%);
  padding: 0 12px;
  height: 100%;
  border-radius: 10% / 0 50% 50% 0;
  margin-left: -4px;
  color: #fbffff;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  width: 200px;
}

#HomeBXp:active {
  background: #106C19;
  background: linear-gradient(90deg, rgba(16, 108, 25, 1) 20%, rgba(25, 150, 25, 1) 44%, rgba(25, 150, 25, 1) 51%, rgba(16, 108, 25, 1) 75%);
}

#WinIconXP {
  width: 30px;
  margin: 0 8px 0 0;
  filter: drop-shadow(1px 1px 2px #000000);
}

#CalBXp {
  outline: none;
  border: none;
  background: #18B8F3;
  background: linear-gradient(360deg, #18b8f3 1%, #0e8dea 19%, #0e8dea 88%, #18b8f3 100%);
  width: 120px;
  height: 100%;
  margin-right: -4px;
  color: #fbffff;
  display: flex;
  filter: drop-shadow(-2px 1px 0.5px #14335b9e);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

#PanelTBMXp {
  position: absolute;
  flex-direction: column;
  width: 300px;
  margin-top: -440px;
  height: 400px;
  border-radius: 15px 15px 0 0;
  background-color: #ffffff;
  border: 3px solid #2961aa;
  filter: drop-shadow(0px 5px 2px #14335bd2);
  z-index: 16;
}

#XpImg {
  width: 45px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fbffff;
}

#XpMarc {
  display: none;
  flex-direction: row;
  place-items: center;
  color: #fbffff;
  font-size: 10px;
  background: #18B8F3;
  background: linear-gradient(360deg, #4c8edf 1%, #1e70d7 35%, #1e70d7 50%, #2961aa 100%);
  border-radius: 10px 10px 0 0;
}

#IconAbXp {
  width: 40px;
  margin: 5px;
  background-color: none;
  padding: 5px;
  flex-shrink: 0;
}

#IconAbXp:active {
  background: #4c8edf;
  border-radius: 5px;
}

.TbWinXp {
  height: 90%;
  margin: 0 2px;
  padding: 0 5px;
  border-radius: 4px;
  color: #fbffff;
  display: flex;
  place-content: center;
  place-items: center;
  border: none;
  background: #18B8F3;
  background: linear-gradient(360deg, #18b8f3 1%, #0e8dea 19%, #0e8dea 88%, #18b8f3 100%);
}

#IconAb98 {
  width: 80px;
  filter: drop-shadow(3px 3px 1px #0000008a);
  position: absolute;
  top: 100px;
}

#IconAb98:hover {
  background-color: #abc7e29f;
  outline: 1px solid #b6d7f59f;
}

.ClickAreaOn {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ClickAreaOff {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: -10;
}

#MenuTriggerOn {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 94dvh;
  place-self: center;
  z-index: 2;
}

#MenuTriggerOff {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 94dvh;
  place-self: center;
  pointer-events: none;
  z-index: -1;
}

#Menu {
  width: 100%;
}

#HomeBtCont {
  width: 110px;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-shrink: 0;
}