@font-face {
  font-family: "Win95";
  src: url(/src/Props/Fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf) format('truetype');
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  font-family: "Win95";
  image-rendering: pixelated;
}

#Background-1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background-color: #008080;
}

#container-Objects {

  width: 100%;
}

#taskbar {
  width: 100%;
  display: flex;
}

#Bar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #c8c8c8;
  place-content: center;
  place-items: center;
  outline: 2px solid #fbffff;
}

#objectsTb {
  display: flex;
  flex-direction: row;
  place-items: center;
  height: 100%;
  width: 100vw;
  padding: 0 4px;
}

#buttonsTB {
  display: flex;
  flex-direction: row;
  place-items: center;
  height: 100%;
  width: 100%;
}

#EndButtonsTB {
  display: flex;
  flex-direction: row;
  place-items: center;
  place-content: flex-end;
  height: 100%;
  width: 100%;
}

#HomeB {
  outline: none;
  border: none;
  background-color: #c8c8c8;
  border-left: 3px solid #fbffff;
  border-top: 3px solid #fbffff;
  border-bottom: 3px solid #0f0f0f;
  border-right: 3px solid #0f0f0f;
  width: 100px;
  height: 80%;
  margin: 0 8px 0 0;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}

#HomeB:active {
  background-color: #8b8b8b;
  border-left: 4px solid #1a1a1a;
  border-top: 4px solid #1a1a1a;
  border-bottom: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
}

#WinBIcon {
  width: 30px;
  margin: 0 2px 0 0;
}

#startL {
  font-family: "Win95";
  font-size: 20px;
}

#CalT {
  font-family: "Win95";
  font-size: 18px;
}

#CalD {
  font-family: "Win95";
  font-size: 18px;
}

#CalB {
  outline: none;
  border: none;
  background-color: #c8c8c8;
  border-left: 3px solid #a0a0a0;
  border-top: 3px solid #a0a0a0;
  border-bottom: 3px solid #fbffff;
  border-right: 3px solid #fbffff;
  width: 120px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

#CalB:active {
  background-color: #808080;
  border-left: 4px solid #8f8f8f;
  border-top: 4px solid #8f8f8f;
  border-bottom: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
}

#LineSp {
  width: 2px;
  height: 80%;
  background-color: #a0a0a0;
  border: none;
  box-shadow: 3px 0 .8px 0 #fbffff;
  margin: 0 5px;
}

#LineWei {
  width: 6px;
  height: 70%;
  background-color: #a0a0a0;
  border: none;
  border-left: 2px solid #fbffff;
  border-top: 2px solid #fbffff;
  border-bottom: 2px solid #8b8b8b;
  border-right: 2px solid #8b8b8b;
  margin: 0 5px;
}

#IconAb {
  width: 40px;
  margin: 5px;
  background-color: none;
  padding: 2px;
}

#IconAb:active {
  background-color: #808080;
  border-left: 2px solid #fbffff;
  border-top: 2px solid #fbffff;
  border-bottom: 2px solid #0a0a0a;
  border-right: 2px solid #0a0a0a;
}

.TbWin {
  height: 80%;
  margin: 0 2px;
  padding: 0 5px;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: #c8c8c8;
  border: none;
  background-color: #c8c8c8;
  border-left: 3px solid #fbffff;
  border-top: 3px solid #fbffff;
  border-bottom: 3px solid #1a1a1a;
  border-right: 3px solid #1a1a1a;
}

.TbWin:active {
  background-color: #8b8b8b;
  border-left: 4px solid #1a1a1a;
  border-top: 4px solid #1a1a1a;
  border-bottom: 4px solid #f1f1f1;
  border-right: 4px solid #f1f1f1;
}

.TbAppI {
  width: 25px;
  margin: 0 5px;
}

.InTbWin {
  margin: 0 5px;
  color: #fbffff;
}

.InTbNTb {
  margin: 0 5px;
}

/* Menu Home */

#PanelTBM {
  position: absolute;
  margin: 0 5px;
  width: 280px;
  margin-top: -400px;
  height: 400px;
  background-color: #c8c8c8;
  border-left: 3px solid #fbffff;
  border-top: 3px solid #fbffff;
  border-right: 3px solid #0f0f0f;
}

.MenuOp {
  display: flex;
}

.MenuCl {
  display: none;
}

#ButtonPTBM {
  margin-top: 3px;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  place-items: center;
  z-index: 2;
}

#ButtonPTBM:hover {
  background-color: #dcdcdc;
}

#ButtonPTBM img {
  width: 40px;
  margin: 0 10px;
}

#ButtonPTBM p {
  font-family: "Win95";
}

#LineSep {
  width: 210px;
  height: 3px;
  background-color: #a0a0a0;
  box-shadow: 0px 2px .8px 0 #fbffff;
  place-self: center;
  margin: 5px 0;
}

#MarcWind {
  width: 40px;
  height: 98%;
  background: #000080;
  background: linear-gradient(180deg, hwb(240 0% 50%) 0%, #0000ff 100%);
  place-self: center;
  margin: 0 6px;
  place-content: center;
  place-items: center;
}

#MarcWind h1 {
  width: 220px;
  color: #fbffff;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 55px;
  filter: drop-shadow(0px 2px 0px black);
}

/* Desktop */

#Container-Icons-Background {
  position: absolute;
  top: 5px;
  width: 95vw;
  height: 90vh;
  place-self: center;
  z-index: 0;
}

#IconBack {
  width: 80px;
  filter: drop-shadow(3px 3px 1px #0000008a);
  position: absolute;
}

#IconBack:hover {
  background-color: #abc7e29f;
  outline: 1px solid #b6d7f59f;
}

/* windows */

#Windows {
  position: absolute;
  top: 5px;
  width: 99vw;
  height: 90vh;
  place-self: center;
  z-index: 1;
  pointer-events: none;
}

.NWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 500px;
  background-color: #c0c0c0;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  pointer-events: initial;
  padding: 3px;
}

.NWindowOff {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 900px;
  height: 500px;
  background-color: #c0c0c0;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  pointer-events: initial;
  padding: 3px;
}

.NaWindowOn {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 26px;
  place-self: center;
  background: #808080;
  background: linear-gradient(90deg, #000181 0%, #1084d0 100%);
  padding: 3px;
  z-index: 0;
  margin: 0 0 5px 0;
}

.NaWindowOff {
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 26px;
  place-self: center;
  background: #808080;
  background: linear-gradient(90deg, #808080 0%, #b5b5b5 100%);
  padding: 3px;
  z-index: 0;
  margin: 0 0 5px 0;
}

.IcNav {
  width: 20px;
  height: 90%;
  background-color: #c0c0c0;
  border: none;
  border-right: 2px solid #0f0f0f;
  border-bottom: 2px solid #0f0f0f;
  border-top: 2px solid #fbffff;
  border-left: 2px solid #fbffff;
  margin: 0 2px;
  display: flex;
  place-content: center;
  place-items: center;
  grid-column: 3;
  margin-left: auto;
}

.IcNav:active {
  background-color: #8b8b8b;
  border-left: 2px solid #1a1a1a;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
}

.IcInt {
  width: 12px;
}

.ContNavig {
  display: flex;
  margin-left: auto;
  place-content: center;
  place-items: center;
}

/* WEB'S */

.abtWeb {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fbffff;
  border-left: 3px solid #a0a0a0;
  border-top: 3px solid #a0a0a0;
  border-bottom: 3px solid #fbffff;
  border-right: 3px solid #fbffff;
  outline: none;
  overflow: scroll;
}

.TbAppITb {
  width: 22px;
  place-self: start;
}
