@import url("../../../../Props/Fonts/fonts.css");

:root {
  --primary-color: rgb(224, 224, 224);
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(82, 82, 82);
  --fourth-color: rgb(120, 120, 120);
  --fifth-color: rgb(10, 10, 10);
  --lineVck-color: #2c302b;

  --line-wcolor: #d7dab9;
  --line-bcolor: #4f534b;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  scrollbar-color: #b5cff2 var(--primary-color);
  scrollbar-width: thin;
  font-family: "OCRMono";
  letter-spacing: -2px;
}

a {
  color: #0a0a0a;
}

body {
  background-color: var(--fifth-color);
  background-image: linear-gradient(45deg, var(--primary-color) 1px, transparent 1px), linear-gradient(-45deg, var(--primary-color) 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 10px;
  overflow: auto;
  place-items: center;
}

#Container-BodyAMB {
  place-content: center;
  place-items: center;
  width: 95%;
}

#BackExpl {
  position: fixed;
  width: 100%;
  opacity: .8;
  z-index: -1;
  margin: -10px;
}

#ContainerAll {
  display: grid;
}

#UserUpDc {
  padding: 5px;
  width: 180px;
  background-color: var(--secondary-color);
  border: none;
  border-left: 3px solid var(--line-wcolor);
  border-top: 3px solid var(--line-wcolor);
  border-bottom: 3px solid var(--line-bcolor);
  border-right: 3px solid var(--line-bcolor);
}

#Container-Center {
  width: 100%;
  font-family: "win98";
  display: flex;
  flex-direction: row;
  place-content: center;
  padding: 4px;
}

.CdocAb {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 5px 10px;
  margin: 10px 10px;
  background-color: var(--secondary-color);
  text-align: left;
}

.CdocAb h1 {
  color: var(--primary-color);
}

.CdocAb p {
  margin: 8px 0;
  color: var(--third-color);
}

.CdocAb h2 {
  font-size: 20px;
  font-weight: 900;
  color: var(--fourth-color);
}

.CdocAb b {
  color: var(--primary-color);
}

#SePR {
  width: 20px;
}

#MyRD {
  font-size: 30px;
  background: var(--secondary-color);
  place-items: center;
  width: 100%;
  margin-top: 15px;
}

.Bander {
  padding: 0 8px;
  text-align: left;
}

#MyRD {
  width: 100%;
}

#ContxBand {
  width: 100%;
}

#TitleOth {
  font-size: 10px;
  font-weight: 900;
  color: var(--fourth-color);
}

#TextBander {
  margin: 10px;
  font-weight: 900;
  color: var(--fourth-color);
}

#Albumscalendar {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(3, auto);
}

.CdocGrid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
}

.ArtIL-img {
  width: 100px;
  margin: 8px;
}

.Art-img {
  width: 250px;
  margin: 8px 0;
}

#ThoughtAlb {
  font-size: 12px;
  color: var(--primary-color);
  text-align: left;
  margin: 5px 8px;
}

#Song {
  width: 100%;
  font-size: 15px;
  z-index: 1;
  margin: 5px 8px;
  padding: 0 15px;
}

.ContTh {
  display: flex;
  width: 100%;
  place-content: start;
  place-items: center;
}

.Infoh {
  display: flex;
  height: 100%;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

@media(min-width: 750px) {
  #Albumscalendar {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}

@media(min-width: 1000px) {
  body {
    place-content: center;
  }
}
