@import url("../../Props/Fonts/fonts.css");

:root {
  --primary-color: rgb(224, 224, 224);
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(82, 82, 82);
  --fourth-color: rgb(120, 120, 120);
  --fifth-color: rgb(10, 10, 10);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  scrollbar-color: #b5cff2 var(--primary-color);
  scrollbar-width: thin;
  font-family: "OCRMono";
  letter-spacing: -2px;
}

a {
  color: #0a0a0a;
}

body {
  background-color: var(--fifth-color);
  background-image: linear-gradient(45deg, var(--primary-color) 1px, transparent 1px), linear-gradient(-45deg, var(--primary-color) 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 10px;
  overflow: auto;
  place-items: center;
}

#BackExpl {
  position: fixed;
  width: 100%;
  opacity: .8;
  z-index: -1;
  margin: -10px;
}

#ContainerAll {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#Container-BodyAMB {
  display: flex;
  flex-direction: row;
}

#Titles {
  display: flex;
  flex-direction: column;
  gap: 20%;
  margin-left: 50px;
}

#ContentInfo {
  display: flex;
  flex-direction: column;
}

#UserUpDc {
  padding: 5px;
  width: 180px;
  border: none;
  border-left: 3px solid var(--line-wcolor);
  border-top: 3px solid var(--line-wcolor);
  border-bottom: 3px solid var(--line-bcolor);
  border-right: 3px solid var(--line-bcolor);
}

#Container-Center {
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: center;
  padding: 4px;
}

#Fhead {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100%;
  margin-top: 10px;
  place-items: center;
  text-align: left;
  background: var(--secondary-color);
}

#Fhead h2 {
  color: var(--primary-color);
}

#Fhead p {
  font-size: 20px;
  color: var(--third-color);
}

#ImgF {
  width: 98%;
  height: 200px;
  place-content: center;
}

.Others {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  padding: 20px 40px;
  margin: 10px 5px 30px 0px;
  background: var(--secondary-color);
  width: 100%;
}

.Others p {
  color: var(--primary-color);
}

.CdocAb {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 10px;
  text-align: left;
  margin: 10px 15px 10px 0;
}

.CdocAb h1 {
  color: var(--primary-color);
}

.CdocAb p {
  margin: 8px 0;
  color: var(--third-color);
}

.CdocAb h2 {
  font-size: 20px;
  font-weight: 900;
  color: var(--fourth-color);
}

.CdocAb b {
  color: var(--primary-color);
}

#RightSide {
  width: 300px;
  margin: 0 10px;
  place-items: center;
}

#SePR {
  width: 20px;
}

.Bander {
  padding: 0 8px;
  text-align: left;
  margin: 8px 0;
  width: calc(100% + 20px);
}

.BanderBut {
  background: none;
  padding: 3px;
  text-align: center;
  margin: 8px 0;
  display: flex;
  place-content: center;
  place-items: center;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.BanderBut b {
  color: #008010;
}

#ContxBand {
  width: calc(100% + 50px);
  transform: translateX(-30px);
}

.sepC{
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: var(--primary-color);
}

/* Spotify */

#SpotifySong {
  display: flex;
  flex-direction: row;
}

#DataSpotify {
  width: 100%;
}

#TitleOth {
  font-size: 10px;
  font-weight: 900;
  color: var(--fourth-color);
}

#TextBander {
  font-weight: 900;
  color: var(--fourth-color);
  width: calc(100% + 100px);
  transform: translateX(-50px);
}

#Song {
  font-size: 15px;
  text-align: left;
}

#Album {
  width: 90%;
}

#AlbumArt {
  width: 245px;
  margin: 0 10px 0 0px;
  place-self: center;
}

#Artist {
  width: 90%;
  text-align: left;
}

#DataSpotify {
  display: flex;
  flex-direction: column;
}

#Time {
  background-color: var(--primary-color);
  padding: 5px;
  text-align: left;
  margin: 8px 0;
}

#BarExt {
  background-color: var(--third-color);
  width: 100%;
  text-align: left;
}

#BarInt {
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
}

#IconMini {
  width: 25px;
  margin: 0 5px 0 0;
  image-rendering: pixelated;
  filter: brightness(1000);
}

.Render-img {
  width: 150px;
}

.bander {
  background-color: var(--line-wcolor);
  padding: 0 8px;
  text-align: left;
  margin: 8px 0;
}

#TTextBander {
  font-weight: 900;
  font-size: 10px;
  color: var(--fourth-color);
  width: calc(100% + 100px);
  transform: translateX(-50px);
  text-align: center;
}

#statuscafe-username {
  font-weight: 900;
  font-size: 15px;
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

#statuscafe-username a {
  color: var(--line-bcolor);
}

#statuscafe-content {
  color: var(--third-color);
  text-align: center;
}

#OnGirDec {
  position: absolute;
  width: 150px;
  transform: translate(-95px, 5px);
}

#OnuSentao img {
  width: 200px;
  image-rendering: pixelated;
}

@media (max-width: 1000px) {
  #Container-Center {
    width: 800px;
  }

  #SpotifySong {
    flex-direction: column;
    place-items: center;
  }
}

@media (max-width: 600px) {
  #Container-Center {
    width: 100%;
    flex-direction: column;
    place-items: center;
    margin: auto;
  }
  #ContainerAll{
    width: 800px;
    margin: auto;
    place-items: center;
  }
  #RightSide{
    width: 100%;
  }
  .Others {
    width: 100%;
    margin: 10px auto;
  }
  #Titles{
    display: none;
  }
  #Fhead {
      width: 98%;
  }
  .CdocAb {
    width: 100%;
  }
}
