@import url("../../Props/Fonts/fonts.css");


:root {
  --primary-color: rgb(224, 224, 224);
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(82, 82, 82);
  --fourth-color: rgb(120, 120, 120);
  --fifth-color: rgb(10, 10, 10);
  --lineVck-color: #2c302b;

  --line-wcolor: #d7dab9;
  --line-bcolor: #4f534b;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  scrollbar-color: #b5cff2 var(--primary-color);
  scrollbar-width: thin;
  font-family: "OCRMono";
  letter-spacing: -2px;
}

a {
  color: #0a0a0a;
}

body {
  background-color: var(--fifth-color);
  background-image: linear-gradient(45deg, var(--primary-color) 1px, transparent 1px), linear-gradient(-45deg, var(--primary-color) 1px, transparent 1px);
  background-size: 20px 20px;
  padding: 10px;
  overflow: auto;
  place-items: center;
}

#Container-BodyAMB {
  place-content: center;
  place-items: center;
}

#BackExpl {
  position: fixed;
  width: 100%;
  opacity: .8;
  z-index: -1;
  margin: -10px;
}

#ContainerAll {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#MyRD {
  font-size: 30px;
  background: var(--secondary-color);
  place-items: center;
  width: 100%;
  margin-top: 15px;
}

#UserUpDc {
  padding: 5px;
  width: 180px;
  background-color: var(--secondary-color);
  border: none;
  border-left: 3px solid var(--line-wcolor);
  border-top: 3px solid var(--line-wcolor);
  border-bottom: 3px solid var(--line-bcolor);
  border-right: 3px solid var(--line-bcolor);
}

#Container-Center {
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: center;
  padding: 4px;
}

.Others {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  padding: 20px 40px;
  margin: 10px 5px 30px 0px;
  background: var(--secondary-color);
  width: 100%;
}

.CdocAb {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.CdocAb h1 {
  color: var(--primary-color);
}

.CdocAb p {
  margin: 8px 0;
  color: var(--third-color);
}

.CdocAb h2 {
  font-size: 20px;
  font-weight: 900;
  color: var(--fourth-color);
}

.CdocAb b {
  color: var(--primary-color);
}

#SePR {
  width: 20px;
}

.Bander {
  background-color: var(--line-wcolor);
  padding: 0 8px;
  text-align: left;
  outline-offset: 2px;
}

#ContxBand {
  width: 100%;
}

#TitleOth {
  font-size: 10px;
  font-weight: 900;
  color: var(--fourth-color);
}

#TextBander {
  margin: 10px;
  font-weight: 900;
  width: 300px;
  color: var(--fourth-color);
}

#CreateCW {
  display: flex;
  place-content: center;
  place-items: center;
  border: none;
  font-family: "hibrid7";
  font-weight: 900;
  color: var(--fourth-color);
  cursor: pointer;
}

#CreateBl {
  display: flex;
  place-content: center;
  place-items: center;
  border: none;
  font-family: "hibrid7";
  font-weight: 900;
  color: var(--fourth-color);
  cursor: pointer;
}

#IconMini {
  width: 25px;
  margin: 0 5px 0 0;
  image-rendering: pixelated;
  filter: saturate(1) brightness(100) opacity(1);
}

.Render-img {
  width: 220px;
  image-rendering: pixelated;
}

.Bander {
  background-color: var(--secondary-color);
  padding: 0 8px;
  text-align: left;
  margin: 8px 0;
}

#TTextBander {
  font-weight: 900;
  font-size: 10px;
  color: var(--primary-color);
  width: 20%;
}

.ContLeft {
  display: flex;
  place-content: center;
  place-items: center;
  margin: 0 15px 0 0;
}

.ContRig {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 100%;
  padding:  20px 0 10px 0;
}

.eltodopoderoso {
  place-content: center;
  place-items: center;
  padding: 0 20px;
}

.Thth {
  width: 100%;
}

#MediaLogContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  gap: 10px;
}

.PostMedia {
  display: flex;
  flex-direction: column;
  place-content: center;
  margin: 10px 0;
}

#ContainerMusic{
  grid-column: 2;
  grid-row: 1;
}

#ContainerSeries{
  grid-column: 3;
}

.sepC{
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: var(--primary-color);
}

@media (max-width: 600px) {
  #MediaLogContainer {
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(1, auto);
  }

  #ContainerMusic{
    grid-column: auto;
    grid-row: 1;
  }

  #ContainerSeries{
    grid-column: auto;
    grid-row: auto;
  }

  #ContainerAll {
    width: 100%;
  }

  .Render-img {
    width: 150px;
  }

  .CdocAb p {
    max-width: 500px;
    font-size: 15px;
  }

  #Container-Center {
    place-content: center;
    place-items: center;
    width: 100%;
  }

  body {
    place-items: center;
  }

  #Container-BodyAMB {
    width: 90%;
  }
  
  .ContRig{
    padding: 0 15px;
  }

  .PostMedia{
    flex-direction: column;
  }
  .CdocAb{
    width: 100%;
  }
}