@font-face {
  font-family: "Win95";
  src: url(../../Props/Fonts/Perfect\ DOS\ VGA\ 437\ Win.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Win98";
  src: url(../../Props/Fonts/MSW98UI-Regular.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Pixie97";
  src: url(../..Props/Fonts/ari-w9500.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "hibrid7";
  src: url(../../Props/Fonts/BelanidiSerif-Regular.otf) format('opentype');
  font-weight: bold;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #fcffe0;
  --third-color: #f0f3ca;
  --fourth-color: #737b72;
  --lineVck-color: #2c302b;

  --line-wcolor: #d7dab9;
  --line-bcolor: #4f534b;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  scrollbar-color: #b5cff2 var(--primary-color);
  scrollbar-width: thin;
}


a {
  color: #0a0a0a;
}

body {
  place-items: center;
  padding: 10px;
  background: url("/src/Props/images/BackFExpl.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#Container-BodyAMB {
  width: 95%;
}

#BackExpl {
  position: fixed;
  width: 100%;
  opacity: .8;
  z-index: -1;
  margin: -10px;
}

#ContainerAll {
  display: grid;
  place-items: center;
  width: 600px;
}

#UserUpDc {
  padding: 5px;
  width: 180px;
  background-color: var(--secondary-color);
  border: none;
  border-left: 3px solid var(--line-wcolor);
  border-top: 3px solid var(--line-wcolor);
  border-bottom: 3px solid var(--line-bcolor);
  border-right: 3px solid var(--line-bcolor);
}

#Container-Center {
  width: 100%;
  font-family: "win98";
  display: flex;
  flex-direction: row;
  place-content: center;
  padding: 4px;
}

#Fhead h1 {
  font-family: "hibrid7";
}

#Fhead div {
  position: absolute;
  width: 60%;
}

#Fhead p {
  font-size: 20px;
}

#ImgF {
  z-index: -1;
  width: 98%;
  outline: dashed .1px var(--lineVck-color);
  outline-offset: 2px;
}

.CdocAb {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background-color: var(--third-color);
  padding: 5px 10px;
  text-align: center;
  margin: 10px 5px;
  outline: dashed .1px var(--lineVck-color);
  outline-offset: 2px;
}

.CdocAb h1 {
  font-family: "hibrid7";
}

.CdocAb p {
  margin: 8px 0;
  color: var(--lineVck-color);
}

.CdocAb h2 {
  font-family: "hibrid7";
  font-size: 20px;
  font-weight: 900;
  color: var(--fourth-color);
}

.CdocAb b {
  font-family: "Win95";
}

.Bander {
  background-color: var(--line-wcolor);
  padding: 0 8px;
  text-align: left;
  outline: dashed .1px var(--fourth-color);
  outline-offset: 2px;
}

.BanderBut {
  background-color: var(--line-wcolor);
  padding: 0 8px;
  text-align: left;
  margin: 8px 0;
  outline: dashed .1px var(--fourth-color);
  outline-offset: 2px;
  display: flex;
  place-content: center;
  place-items: center;
  border: none;
  font-family: "hibrid7";
  font-weight: 900;
  color: var(--fourth-color);
  cursor: pointer;
}

#MyRD {
  width: calc(100% + 380px);
  transform: translateX(-190px);
}

#ContxBand {
  width: calc(100% + 50px);
  transform: translateX(-30px);
}

#TitleOth {
  font-family: "hibrid7";
  font-size: 10px;
  font-weight: 900;
  color: var(--fourth-color);
}

#TextBander {
  font-family: "hibrid7";
  font-weight: 900;
  font-size: 20px;
  color: var(--fourth-color);
  width: calc(100% + 10px);
  text-align: center;
}

#ImagesContainer {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
}

.Render-img {
  width: 400px;
  margin: 8px 0;
}

#IconMini {
  width: 25px;
  margin: 0 5px 0 0;
  image-rendering: pixelated;
  filter: invert(47%);
}

#NavigationT {
  place-self: center;
  width: 60%;
}

@media (min-width: 1000px) {
  body {
    place-items: center;
  }
}
