@import url("../../Props/Fonts/fonts.css");

:root {
  --back-color: #2d2f2e;
  --primary-color: rgb(224, 224, 224);
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(82, 82, 82);
  --fourth-color: rgb(120, 120, 120);
  --fifth-color: rgb(10, 10, 10);
  --lineVck-color: #2c302b;

  --line-wcolor: #d7dab9;
  --line-bcolor: #4f534b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scrollbar-width: none;
  text-decoration: none;
  font-family: "OCRMono";
  scrollbar-color: #b5cff2 var(--primary-color);
  scrollbar-width: thin;
}

body h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button,
input,
textarea,
label,
p,
select {
  filter: blur(0.7px) !important;
}

#NoiseFront {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  mix-blend-mode: screen;
  opacity: 0.1;
  filter: blur(0.5px);
  pointer-events: none;
}

a {
  color: #0a0a0a;
  filter: blur(0.7px);
}

body {
  background-color: var(--fifth-color);
  background-image: linear-gradient(45deg, var(--primary-color) 1px, transparent 1px), linear-gradient(-45deg, var(--primary-color) 1px, transparent 1px);
  background-size: 20px 20px;
  height: 100vh;
  padding: 10px;
  place-items: center;
  overflow: auto;
  
}

#Container-BodyAMB {
  width: 95%;
  place-items: center;
}

#InfoHeader {
  width: 100%;
  place-content: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
}

#BackExpl {
  position: fixed;
  width: 100%;
  opacity: 0.8;
  z-index: -1;
  margin: -10px;
}

#ContainerAll {
  display: grid;
  place-items: center;
  width: 80%;
}

#Container-Center {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 500px;
  place-content: center;
  padding: 4px;
}

#Fhead div {
  position: absolute;
  width: 60%;
}

#Fhead p {
  font-size: 20px;
}

#ImgF {
  z-index: -1;
  width: 98%;
}

.CdocAb {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background: var(--secondary-color);
  text-align: left;
  margin: 10px 5px;
  padding: 5px;
  width: 95%;
  filter: drop-shadow(2px 2px 2px var(--secondary-color, 20%));
}

.CdocAb p {
  margin: 8px 0;
  color: var(--primary-color);
}

.CdocAb h2 {
  font-size: 25px;
  font-weight: 900;
  color: var(--primary-color);
}

.Bander {
  padding: 0 8px;
  width: 100%;
  margin: 5px 0;
  text-align: left;
  z-index: 2;
  filter: drop-shadow(2px 2px 1px color-mix(in srgb, var(--secondary-color), transparent 40%));
}

#MyRD {
  width: calc(100%);
}

#ContxBand {
  width: calc(100% + 50px);
  transform: translateX(-30px);
}

#TitleOth {
  font-size: 10px;
  font-weight: 900;
  width: 100%;
  color: var(--primary-color);
}

#TextBander {
  font-weight: 900;
  padding: 5px 0;
  font-size: 12px;
  color: var(--primary-color);
  text-align: left;
  width: 100%;
}

#ImagesContainer {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(2, 500px);
}

.Render-img {
  width: 100%;
}

@media (max-width: 600px) {
  #ContainerAll {
    display: flex;
    width: 90%;
  }

  #ImagesContainer {
    grid-template-columns: repeat(1, 500px);
    grid-template-rows: repeat(1, auto);
  }

  .Render-img {
    width: 95%;
  }

  #Container-Center {
    width: 720px;
  }

  .CdocAb h2 {
    font-size: 20px;
  }

  .CdocAb p {
    font-size: 10px;
  }
}
